<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>
<body>
    <div>
    {% for block in content_blocks %}
        <div>{{ block.content_html }}</div>
        <hr>
    {% endfor %}
    </div>
    <div>
        <h2>侧边栏内容</h2>
        {% for sidebar in sidebars %}
            <div>{{ sidebar.content_html }}</div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>